ul{
    list-style: none;
}
nav{
    position: fixed;
    background: red;
    width: 150px;
    top: 5px;
    left: 5px;
}
ul.social-links{
    position: fixed;
    background: rgb(255, 150, 150);
    width: 150px;
    bottom: 5px;
    left: 5px;   
}

main{
    height: 100%;
    margin-left: 200px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: stretch;
}
div.container{
    min-height: 100vh;
    border: 3px solid blue;
}
div.concerts{
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media all and (min-width: 1200px){
ul.gallery{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-column-gap:10px;
}
img.gallery__image{
    max-width:80%;
    max-height: auto;
    }
}

@media all and (max-width: 1199px){
    ul.gallery{
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
    }
    img.gallery__image{
        max-width:80%;
        max-height: auto;
    }
}

ul.band-members{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

