* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


body {
    color: rgba(204, 200, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
}

a {
    color: #EF008E;
    text-decoration: none;
}

.button {
    padding: 7px 15px;
    border-radius: 3px;
    background-color: rgba(204, 200, 255, 0.1);
    border-color: rgba(204, 200, 255, 0.1);
    color: rgba(204, 200, 255, 0.8);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
}


.form__field {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 9px;
}

.form__input {
    display: block;
    height: 35px;
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(219, 216, 251, 0.1);
}

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.page-content {
    margin-left: 220px;
    padding: 0 10%;
}


.page-navigation__items {
    padding-top: 15px;
}

.page-navitagion__item a {
    color: rgba(239, 0, 142, 0.6);
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 6.7px;
}



.social-links__item + .social-links__item {
    margin-top: 15px;
}

.social-links__item img {
    width: 20px;
    height: 20px;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}

.content-section__header {
    margin-bottom: 60px;
    color: #EF008E;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.content-section__body {
    flex-grow: 1;
}

.content-section.home-section {
    align-items: center;
}

.band-members {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.band-members__name,
.band-members__desc {
    display: none;
}

.about {
    position: relative;
    margin-left: 290px;
    margin-bottom: 115px;
}

.about__image {
    max-width: 100%;
    border-top: 3px solid #EF008E;
}

.about__desc-header {
    margin-bottom: 30px;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__desc {
    position: absolute;
    left: -290px;
    bottom: -115px;
    width: 380px;
    padding: 30px;
    background-color: #25072e;
    border-bottom: 3px solid #EF008E;
}

.concerts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.concerts__item {
    flex-basis: 50%;
    padding: 0 0 45px 55px;
}

.concerts__image {
    max-width: 100%;
    border-bottom: 3px solid #EF008E;
}

.concerts__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.concerts__info-base {
    flex-grow: 1;
}

.concerts__date {
    margin: 0;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.8px;
}

.concerts__location {
    margin: 0;
    letter-spacing: 3.8px;
}

.embedded-video {
    border-top: 3px solid #EF008E;
}


.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.gallery__item {
    flex-basis: 33.3%;
    padding: 0 0 20px 20px;
}

.gallery__image {
    max-width: 100%;
    border-top: 3px solid #EF008E;
}


.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact__image img {
    max-width: 100%;
}

.contact__address {
    padding: 70px;
    font-style: normal;
}

.contact__form {
    flex-basis: 50%;
    padding-top: 40px;
}

.contact__form .button {
    margin-top: 20px;
}

/*Smartphones*/

@media (max-width: 599px) {

    .content-section{
        min-height: 50vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        min-width: 300px;
    }
    .page-content {
        margin-left: 0px;
        padding: 30px;
    }

    .page-header {
        position: static;
        display: block;
        margin-bottom: 50px;
        text-align: center;
        min-width: 200px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 
    }

    .page-footer {
        position: static;
        
    }

    .social-links{
       display :block;
       width: 100%;
       display: flex;
       flex-flow: row nowrap; 
       justify-content: space-around;
    }



    .band-members {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .band-members__item{
        flex-basis: 80%;
        min-width: 200px;
    }

    .about {
        position: static;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        min-width: 300px; 
        margin: 0px;
    }
    .about__desc{
    left: 0px;
    bottom: 0px;
    padding: 30px;
    position: static;
    width:100%;
    }

    
    .page-footer {
        position: static;
        bottom: 50px;
        left: 50px;
    }

    .concerts {
        justify-content: center;
        width: 100%;
    }
    .concerts__item{
        flex-basis: 100%;
        padding: 30px;
    }

    .embedded-video{
        width: 100%;
    }

    .gallery{
        width: 100%;
    }

    .gallery__item {
        flex-basis:50%;
        padding: 5px;
    }
    
    .contact__image img {
        max-width: 100%;
    }
    
    .contact__address {
        padding: 30px;
        font-style: normal;
    }
    
    .contact__form {
        flex-basis: 50%;
        padding-top: 10px;
    }
    
    .contact__form .button {
        margin-top: 20px;
    }

    .social-links__item + .social-links__item {
        margin-top: 0px;
    }
    
    .social-links__item img {
        width: 30px;
        height: 30px;
    }

}

@media (min-width: 600px) and (max-width: 900px) {
    .content-section{
        min-height: 100vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    .page-content {
        margin-left: 200px;
        padding: 30px;
    }

    .band-members {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .band-members__item{
        flex-basis: 80%;
        width: 50%;
    }

    .about {
        position: static;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        min-width: 300px; 
        margin: 0px;
    }
    .about__desc{
    left: 0px;
    bottom: 0px;
    padding: 30px;
    position: static;
    width:100%;
    }

    .concerts__item {
        flex-basis: 50%;
        padding: 10px;
    }

    .embedded-video{
        width: 100%;
    }

    .gallery{
        width: 100%;
    }

    .gallery__item {
        flex-basis:33.3%;
        padding: 10px;
    }


    
  
}