* {
    box-sizing: border-box;
    transition-timing-function: ease;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


body {
    color: rgba(204, 200, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
}

a {
    color: #EF008E;
    text-decoration: none;
}



.button {
    padding: 7px 15px;
    border-radius: 3px;
    background-color: rgba(204, 200, 255, 0.1);
    border-color: rgba(204, 200, 255, 0.1);
    color: rgba(204, 200, 255, 0.8);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
}


.form__field {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 9px;
}

.form__input {
    display: block;
    height: 35px;
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(219, 216, 251, 0.1);
}

@media screen and ( max-width: 1024px ) {
    .form__input {
        width: 100%;
    }
}

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.page-content {
    margin-left: 220px;
    padding: 0 10%;
}

@media screen and ( max-width: 1280px ) {
    .page-header {
        position: static;
        padding: 30px 0;
        text-align: center;
    }
    .page-content {
        margin-left: 0;
    }

    .page-footer {
        position: static;
    }
}


.page-navigation__items {
    padding-top: 15px;
}

.page-navigation__item:hover {
    opacity: 1.0;
}

.page-navigation__item a {
    color: rgba(239, 0, 142, 0.6);
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 6.7px;
}

@media screen and ( min-width: 1025px ) and ( max-width: 1280px ) {
    .page-navigation__item {
        display: inline-block;
    }

    .page-navigation__item {
        margin: 0 20px;
    }
}


.social-links__item + .social-links__item {
    margin-top: 15px;
}

.social-links__item img {
    width: 20px;
    height: 20px;
}

@media screen and ( max-width: 1280px ) {
    .social-links {
        text-align: center;
        padding: 30px 0;
    }

    .social-links__item {
        display: inline-block;
    }

    .social-links__item + .social-links__item {
        margin-top: 0;
        margin-left: 15px;
    }
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}

@media screen and ( max-width: 1024px ) {
    .content-section {
        min-height: 0;
        padding-bottom: 100px;
    }
}

.content-section__header {
    margin-bottom: 60px;
    color: #EF008E;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.content-section__body {
    flex-grow: 1;
}


.content-section.home-section {
    align-items: center;
}

.band-members {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.band-members__item{
    opacity: 0.3;
}
.band-members__item:hover {
    opacity: 1.0;
    transform: scale(1.05);
    transition: 0.2s;
    display: static;
}

.band-members__name,
.band-members__desc {
    visibility: hidden;
    /*display: none;*/
    margin: 0;
}

.band-members__item:hover .band-members__name{
    visibility: visible;
    display: static;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(219, 216, 251);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3.8px;
    transition: 0.2s;
}
.band-members__item:hover .band-members__desc{
    visibility: visible;
    display: static;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgba(204, 200, 255, 50%);
    letter-spacing: 3.8px;
    transition: 0.2s;
}



@media screen and ( min-width: 1025px ) and ( max-width: 1280px ) {
    .content-section.home-section {
        justify-content: flex-start;
        padding-top: 20vh;
    }
}

@media screen and ( max-width: 1024px ) {
    .band-members {
        flex-direction: column;
    }

    .band-members__image {
        margin: 50px 0 10px;
    }

    .band-members__name,
    .band-members__desc {
        display: block;
        text-align: center;
    }
}

.about {
    position: relative;
    margin-left: 290px;
    margin-bottom: 115px;
}

.about__image {
    max-width: 100%;
    border-top: 3px solid #EF008E;
}

.about__desc-header {
    margin-bottom: 30px;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__desc {
    position: absolute;
    left: -290px;
    bottom: -115px;
    width: 380px;
    padding: 30px;
    background-color: #25072e;
    border-bottom: 3px solid #EF008E;
}

@media screen and ( max-width: 1024px ) {
    .about {
        margin: 0;
    }

    .about__desc {
        position: static;
        width: 100%;
        margin-top: 20px;
    }
}


.concerts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.concerts__item {
    flex-basis: 50%;
    padding: 0 0 45px 55px;
}

.concerts__image {
    max-width: 100%;
    border-bottom: 3px solid #EF008E;
}

.concerts__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.concerts__info-base {
    flex-grow: 1;
}

.concerts__date {
    margin: 0;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.8px;
}

.concerts__location {
    margin: 0;
    letter-spacing: 3.8px;
}

@media screen and ( max-width: 1024px ) {
    .concerts {
        display: block;
        width: auto;
    }

    .concerts__item {
        padding-left: 0;
    }
}


.embedded-video {
    border-top: 3px solid #EF008E;
}

@media screen and ( max-width: 1024px ) {
    .embedded-video {
        max-width: 100%;
    }
}


.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.gallery__item {
    flex-basis: 33.3%;
    padding: 0 0 20px 20px;
}
.gallery__item:hover {
    transform: scale(1.1);
}

.gallery__image {
    max-width: 100%;
    border-top: 3px solid #EF008E;
}

@media screen and ( max-width: 1024px ) {
    .gallery {
        display: block;
        width: auto;
    }

    .gallery__item {
        padding-left: 0;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact__image img {
    max-width: 100%;
}

.contact__address {
    padding: 70px;
    font-style: normal;
}

.contact__form {
    flex-basis: 50%;
    padding-top: 40px;
}

.contact__form .button {
    margin-top: 20px;
}

@media screen and ( max-width: 1024px ) {
    .contact {
        display: block;
    }

    .contact__address {
        padding: 30px 0 0;
    }

    .contact__form {
        padding-top: 30px;
    }
}